# Daemonize blinkenlights python script with this.
#   sudo cp blinketlights.service /etc/systemd/system/blinkenlights.service
#   sudo systemctl daemon-reload
#   sudo systemctl start blinkenlights
#   sudo systemctl enable blinkenlights

[Unit]
Description=blinky service
After=network.target
StartLimitIntervalSec=0

[Service]
# this is wherever you've cloned blinketlights to 
WorkingDirectory=/home/pi/blinkenlights 
ExecStart=/usr/bin/python3.7 main.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=giveaway
User=pi

[Install]
WantedBy=multi-user.target
