[Unit]
Description=blinkenlights - lights for arewedown server status
After=network.target
StartLimitIntervalSec=0

[Service]
# this is wherever you've cloned blinketlights to 
WorkingDirectory=/home/pi/blinkenlights 
ExecStart=/usr/bin/python3.7 main.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=giveaway
User=pi

[Install]
WantedBy=multi-user.target
